<div class="product-submit">
  <%= render 'cart_line_items/product_availability', product: product %>

  <div class="horizontal-input-group">
    <div class="horizontal-input-group__action">
      <%= link_to 'Mon panier', edit_cart_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
</div>
