<div class="text-center">
  <h1>Planning pour le <%= @date.strftime("%d %B %Y") %></h1>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Heure</th>
        <th>Événements ou activités</th>
      </tr>
    </thead>
    <tbody>
      <% (0..23).each do |hour| %>
        <tr>
          <td><%= hour %>h - <%= hour + 1 %>h</td>
          <td>Événements ou activités à afficher ici</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
