<%
  order = order_form.object

  is_order_empty = (
    order.adjustments.nonzero.exists? ||
    order.line_item_adjustments.nonzero.exists? ||
    order.shipment_adjustments.nonzero.exists? ||
    order.shipments.any?
  )
%>

<section class="cart-items">
  <div class="cart-items-header">
    <h2 class="cart-items-header__title">Item</h2>
    <h2 class="cart-items-header__title">Price</h2>
    <h2 class="cart-items-header__title">Quantity</h2>
    <h2 class="cart-items-header__title">Subtotal</h2>
  </div>

  <% order.line_items.each_with_index do |line_item, line_item_counter| %>
    <%= render(
      partial: 'carts/cart_item',
      locals: { line_item: line_item, order_form: order_form, line_item_counter: line_item_counter }
    ) %>
  <% end %>

  <% if is_order_empty %>
    <%= render 'carts/cart_adjustments' %>
  <% end %>
</section>
