// Importez les fichiers SCSS nécessaires ici
@import 'spree/frontend/all';
@import 'bootstrap';

/* Calendrier personnalisé */
.custom-calendar table {
  width: 100%;
  border-collapse: collapse;
}

.custom-calendar th {
  background-color: #f8f9fa !important;
  text-align: center !important;
  font-weight: bold !important;
  padding: 10px !important;
  border: 1px solid #dee2e6 !important;
}

.custom-calendar td {
  text-align: center !important;
  vertical-align: middle !important;
  padding: 10px !important;
  border: 1px solid #dee2e6 !important;
}
